:root {
    --foncolor: rgb(233, 160, 121);
    --greycolor: rgb(109, 109, 109);
}

body {
    color: rgb(80, 80, 80);
    font-size: 15;
}


.main {    
    width: 800px;
    margin: 0px, auto;
    padding: 0px, 15px;
    margin-left: auto;
    margin-right: auto;
}


.citations {
    margin-left: 50%;
    text-align: right;
}


.citations dt q {
    font-style: italic;
}


.citations dd {
    font-weight: bold;
    padding: 0px 0px 15px;
}


h2 {
    font-weight: bold;
    text-align: center;
}


.book {    
    display: block;
    text-align: center;
    box-shadow: var(--greycolor) 10px 10px 10px;
    margin-bottom: 30px;
}


.book img {
    display: block;
    margin: auto;
    width: 300px;
}


.book cite {
    display: block;
    font-style: normal;
    font-weight: bold;
    background-color: var(--foncolor);
    padding: 5px;
}


.book blockquote {    
    text-align: left;
    margin: 10px 25px;
    padding: 10px;
    border-left: 5px solid var(--foncolor);
    
}


bdo {
    text-align: left;
    font-style: italic;
    font-weight: normal;
    color: var(--greycolor);
}


.footer {    
    background-color: var(--greycolor);
    color: azure;
    padding: 10px;
}


p {            
    margin: 0px;
    font-style: italic;
    text-decoration: underline;    
}


dd {
    margin: 0px 0px 10px 0px;
}


address {
    font-style: italic;
}


address abbr {
    text-decoration: dashed;
    --text-decoration: underline;
}


abbr:hover {    
    color: var(--foncolor);
}