body {
    background-color: black;
    color: rgb(33, 114, 0);
}

.main {
    background-color: rgb(9, 9, 9);
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.part {
    max-width: 250px;
    margin: 10px;    
    --border: 2px solid;
    box-shadow: rgb(32, 32, 32) 6px 6px 6px;
    
}

.category {
    display: block;
    font-style: normal;
    font-weight: bold;
    padding: 5px;
    background-color: rgb(42, 146, 1);
    color: rgb(58, 248, 185);
    
}

.part > h4, p {
    margin: 5px;
}

.down {
    margin: 5px;
    text-align: right;
    border-top: 2px solid rgb(1, 77, 90);
    color: rgb(1, 77, 90);
}

.lnk {
    display: block;
    margin: 15px;
    padding: 8px;
    text-align: center;
    border-radius: 30px;
    background-color: rgb(34, 145, 108);
    color: rgb(58, 248, 185);
}
