body {
    background-color: #423f1b;
    color: #c4c71b;
    text-align: justify;
}


.main {    
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


.container {
    --display: block;
    display: flow-root;
    float: left;
    max-width: 300px;
    margin: 10px;
    padding: 5px;
    border: 1px solid #9d9f0b;    
}


.top_block {    
    margin-bottom: 5px;    
}


.top_block > p {
    clear: left;    
}


.top_block > img {
    max-width: 50%;
    margin: 5px;
    float: right;    
}




