body {
    background-color: #050d3b;
    color: #4255c0;
    text-align: justify;
    font-size: 12px;
}


.grid-container {
    display: grid;
    grid-template-columns: 200px 4fr 1fr;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;    
    --border: 1px solid red;
}

.cell {    
    margin: 5px;
    --border: 1px solid #9d9f0b;
}

.head {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 24px;
    text-align: center;
}

.menu {
    grid-column-start: 1;
    grid-column-end: 4;    
    text-align: center;
    display: flex;
    flex-flow: row wrap;    
    background-color: #321649;
    justify-content: center;
}

.menu > div {
    padding: 10px 20px;
}

.Category {
    margin: 10px 20px;
    padding: 5px;
    text-align: left;
    background-color: #321649;
    --border: 1px solid #9d9f0b;
}

.Caption {    
    padding: 10px;
    text-align: justify;
    border-left: 1px solid #4255c0;
    border-right: 1px solid #4255c0;
}

.Caption > h1 {
    text-align: left;
    margin-top: 0px;
}


.info {
    margin: 5px;
    padding: 10px;
    text-align: justify;
    background-color: #321649;
}


.footer {
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 50px;
    background-color: #321649;
}


