body {
    background-color: #050d3b;
    color: #4255c0;
    text-align: justify;
    font-size: 12px;
}

h1 {
    text-align: center;
}

.menu {
    display: flex;
    flex-flow: row wrap;    
    background-color: #3b1d53;
    font-size: 16px;
}

.menu > div {
    padding: 10px;
}


.left {
    display: flow-root;
    float: left;
    max-width: 30%;  
    max-height: auto;  
    padding: 5px;
    text-align: left;
    background-color: #232c5e;    
    font-size: 14px;
    
    --border: 1px solid #9d9f0b;
}

.left > img {
    max-width: 80%;
    margin: 5px;
    justify-content: center;
    --border: 1px solid #9d9f0b;
}


.right {
    display: flow-root;
    max-width: auto;
    padding: 5px;
    color: #2a3a91;
    font-size: 14px;
}

.container {
    --display: block;
    display: flow-root;
    float: left;
    max-width: 15%;
    margin: 10px;
    padding: 5px;
    --border: 1px solid #9d9f0b;    
}

.container > img {
    max-width: 100%;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .menu {
        display: flex;
        flex-direction: column;
        --background-color: #3b1d53;
        --font-size: 16px;
    }

    .left {
        display: flex;
        flex-direction: column;
        padding: 5px;
        text-align: left;
        background-color: #232c5e;    
        font-size: 14px;        
        --border: 1px solid #9d9f0b;
    }

    .right {
        --display: flex;
        --flex-direction: column;
        padding: 5px;
        color: #2a3a91;
        font-size: 14px;
    }
}


