body {
	margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
	background-color: #050d3b;
	color: white;
}


.menu-head {
    display: flex;
    top: 0;
    position: sticky;
	z-index: 1;
    border-radius: 5px;
    list-style: none;
    padding: 0;
    background: #1a2877;
}
  
.menu-head li {
    flex: 1;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    position: relative;
}

.menu-head > li a {
    color: rgb(165, 206, 240);
}


.menu-head > li:hover {
    background: #485cce;
    border-radius: 5px;
}


.menu-head {
    display: flex;
    top: 0;
    position: sticky;
    z-index: 1;
    border-radius: 5px;
    list-style: none;
    padding: 0;
    background: #1a2877;
}

.menu-head li {
    flex: 1;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    position: relative; /* Добавляем позиционирование для потомков */
}

.menu-head > li a {
    color: rgb(165, 206, 240);
}

.menu-head > li:hover {
    background: #485cce;
    border-radius: 5px;
}


.menu-sub {
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    font-size: 10px;
    background: #1a2877;
}

.menu-head li:hover .menu-sub {
    display: block;
}

.menu-sub li {
    padding: 10px;
    text-align: center;
}

.menu-sub li a {
    color: rgb(165, 206, 240);
    display: block;
}

.menu-sub li:hover {
    background: #485cce;
    border-radius: 0;
}







.main {    
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	--border: 1px solid #9d9f0b;
}


.container {
    --display: block;
    display: flow-root;	
    float: left;
    max-width: 250px;
    margin: 10px;
    padding: 5px;	
    border: 2px solid #0b589f;
	border-radius: 4px;
}


.top_block {    
    margin-bottom: 5px;
}


.top_block > p {
    clear: left;
	text-align: justify;
}


.top_block > img {
    max-width: 90%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.icons {
	text-align: center;
	padding-top: 0px;
	padding-bottom: 10px;
}

.icon-button {
    display: inline-flex;
    align-items: center;
	padding: 8px;
	margin: 2px 5px;	
    border: 2px solid;
	border-radius: 10px;
}


.icon-button:hover {
	border: 2px solid #3493ec;
}


.icon-button img {
	max-width: 25px;    
}


.buy-button {
	display: flex;	
	--align-items: center;
	--text-align: center;
	--justify-content: center;
	border: none;
	border-radius: 15px;
	padding: 15px;
	margin-bottom: 15px;	
}


.about {
    text-align: justify;    
}




.contact {    
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    margin-bottom: 25px;    
    --justify-content: center;
    text-align: center;
}


.title {    
    font-size: 25px;
    margin-bottom: 25px;
}

.dontskip {
    color: rgb(170, 57, 57);
}


input[type=text], [type=tel], [type=email] {
    font-size: 15px;    
    text-align: center;
    padding: 3px;    
    border: 1px solid #6575d1;
    border-radius: 5px;
    margin-bottom: 10px;
    color: white;
    background: #081666;
}

input[type=text]:hover, [type=tel]:hover, [type=email]:hover{    
    padding: 3px 5px;    
    border: 1px solid #97a3e9;
    border-radius: 5px;
    color: white;
    background: #081666;
}

.multiline-input {
    padding-top: 45px;
    width: 430px;
    height: 150px;
    padding: 10px;
    resize: none;
    border: 1px solid #97a3e9;
    border-radius: 5px;
    background: #081666;
    color: white;
}


input[type=submit] {
    font-size: 20px;
    padding: 5px 15px;
    border: 1px solid #97a3e9;
    border-radius: 5px;
    background: #788dff;
}